.config{
  color: #666;
  text-align: left;
  padding: 10px;

  &__label--break{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  
    &:nth-child(1){
      padding-top: 40px;
    }
  }

  &__input{
    width: 70px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-radius: none;
    font-size: 1rem;
    color: var(--green-color);
    background: none;
    outline: none;
    text-align: center;
  }
}