@import '../../../variables.scss';
@import './../../../mixins.scss';

@mixin addMatrixTransform($start, $end) {
  @for $i from $start through $end {
    &:nth-of-type(#{$i}n){
      transform: matrix(10, 0, 0, 10, 150, (20 + ($i * 40)) );
    }
  }
}

@mixin addTransitionTimes($start, $end, $delay) {
  @for $i from $start through $end {
    &:nth-of-type(#{$i}n){
      transition-delay: ($i*$delay) s;
      transition-duration: 0.5s + ($i*$delay);
    }
  }
}

.burger-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin-top: 16px;

  z-index: 2;

  background: $main-bg-color;
  cursor: pointer;

  &__link-item{
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;

    background: $header-color;

    transition-property: transform, border-radius, opacity;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    @include addTransitionTimes( 2, 6, .2 );
    
    &:nth-of-type(n+4){
      opacity: 0;
    }

    &--opened{
      border-radius: 0px;
      @include addMatrixTransform(1,6);

    &:nth-of-type(n+4){
      opacity: 1;
    }
    }
  }

  &__icon-item{
    position: absolute;
    top:0;
    
    width: 30px;
    height: 4px;
    border-radius: 3px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;

    background: $header-color;

    transition: transform, 0.5s ease-out;

    &:nth-of-type(2){
      transition-delay: 0.4s;
    }

    &--opened{
      &:nth-of-type(1){
        transform: translateY(10px) rotate(0.375turn) ;
      }
      &:nth-of-type(2){
        transform: translateY(-9px) rotate(0.125turn);
      }
    }

    &:nth-of-type(2){
      top: 18px;
    }

  }
  
  &__link{
    position: absolute;
    left: 2px;
    top: 0;
    right: 0;
    bottom: 0;

    text-align: left;
    font-size: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color:  $main-bg-color;

    pointer-events: none;

    &--opened{
      pointer-events: all;
    }

    &--active{
      pointer-events: none;
      color: #666;
    }

    &--disabled{
      pointer-events: none;
      color: #666;
    }
  }
}
 