@import './../../../variables.scss';
@import './../../../mixins.scss';

.nav{
  list-style: none;
  padding: 10px;
  margin: 0;

  &__item{
    padding: 0px;
    margin: 0;

    border-bottom: 1px solid $header-color;

    &:last-child{
      border-bottom: none;
    }
    @include addHover( "", darken($main-bg-color, 10%) );

    &--disabled{
      background: desaturate($main-bg-color, 15%);

      @include addHover( "", desaturate($main-bg-color, 30%) );
    }
  }

  &__link{
    display: block;
    padding: 10px;

    text-decoration: none;
    color: $header-color;
    text-transform: uppercase;
    &--disabled{
      pointer-events: none;

      color: desaturate($header-color, 30%);
    }
  }
}