@import './../../../variables.scss';
@import './../../../mixins.scss';

.nav{
  display: none;
  list-style: none;
  padding: 10px;
  margin: 0;
  position: fixed;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;

  &--opened{
    // position: fixed;
    // top: 3.17em;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // z-index: 1;
  }

  &__item{
    padding: 0px;
    margin: 0;

    border-bottom: 1px solid $header-color;
    background: $main-bg-color;

    &:last-child{
      border-bottom: none;
      margin-bottom: 20vh;
    }
    @include addHover( "", darken($main-bg-color, 10%) );

    &--disabled{
      background: desaturate($main-bg-color, 15%);

      @include addHover( "", desaturate($main-bg-color, 30%) );
    }
  }

  &__link{
    display: block;
    padding: 10px;

    text-decoration: none;
    color: $header-color;
    text-transform: uppercase;
    &--disabled{
      pointer-events: none;

      color: desaturate($header-color, 30%);
    }
  }
}