.config__label--break{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.config__label--break:nth-child(1){
  padding-top: 40px;
}

.config__input{
  width: 70px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: none;
  font-size: 1rem;
  color: var(--green-color);
  background: none;
  outline: none;
  text-align: center;
}