.memorized-number{
  border: none;
  border-bottom: 1px solid #C7C26B;
  border-radius: none;
  font-size: 3rem;
  color: #72BD66;
  background: none;
  outline: none;
  text-align: center;
}

.memorized-number::placeholder{
  font-size: 2rem;
  color: #C7C26B;
}