.App {
  text-align: center;
}

.App__header{
  color: var(--header-color);
  background: var(--main-bg-color);
}

.App__header--opened{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html{
  background: var(--main-bg-color);
}